In [3]:
# 1. find area of Rectangle:

length = float(input("enter a number:"))
width = float(input("Enter your number:"))
Area = length*width
print("Area of rectsngle:",Area)

enter a number: 23
Enter your number: 12.3

Area of rectsngle: 282.90000000000003

In [2]:
# 2. find area of Squre:

side = float(input("enter a number:"))
Area = side*side
print("Area of Squre:",Area)

enter a number: 13.2

Area of Squre: 174.23999999999998

In [4]:
# 3. find area of Circle:

side = float(input("enter your number:"))
Area = 2*22/7*side
print("Area of circle:",Area)

enter your number: 21

Area of circle: 132.0

In [19]:
# 4. find Marks Average/Aggregate Marks:

marks=[]
sci = float(input("Enter your sci marks:"))
math =float(input("Enter your math marks:"))
ss = float(input("Enter your ss marks:"))
eco = float(input("Enter your eco marks:"))
eng=float(input("Enter your eng marks:"))
if sci > 100 or sci <0 or math > 100 or math <0 or ss > 100 or ss <0 or eco > 100 or eco <0 or eng > 100 or eng <0:
    print("Invalid Marks:")
else:
    Aggregate = sci+math+ss+eco+eng
    Avg = Aggregate/5
    print("Aggregate marks:",Aggregate)
    print("Avg marks:",Avg)

Enter your sci marks: 101
Enter your math marks: 23
Enter your ss marks: 34
Enter your eco marks: 4
Enter your eng marks: 56

Invalid Marks:

In [28]:
# 5. find Marks Average/Aggregate Marks: 2 Method.

marks=[]
sci,math,ss,eco,eng = map(float,input("Enter your 5 sub. marks: sci,math,ss,eco,eng :-").split())

if sci > 100 or sci <0 or math > 100 or math <0 or ss > 100 or ss <0 or eco > 100 or eco <0 or eng > 100 or eng <0:
    print("Invalid Marks:")
else:
    Aggregate = sci+math+ss+eco+eng
    Avg = Aggregate/5
    print("Aggregate marks:",Aggregate)
    print("Avg marks:",Avg)

Enter your 5 sub. marks: sci,math,ss,eco,eng :- 37 79 80 90 60

Aggregate marks: 346.0
Avg marks: 69.2

In [29]:
# 6. Find Area of triangle:

height = float(input("enter number:"))
base = float(input("enter number:"))
Area = 1/2*height*base
print("Area of Triangle:",Area)

enter number: 45
enter number: 20.5

Area of Triangle: 461.25

In [33]:
# 7.find the number of cube:

number = int(input("enter your number:"))
cube = number**3
print("Find of cube",cube)

enter your number: 34

Find of cube 39304

In [39]:
# 8. find the days,months and years:-

days = int(input("enter your days:"))
years = days // 365
days = days % 365
months = days // 30
days = days % 30

print("years:",years,"months:",months,"days:",days)

enter your days: 5000

years: 13 months: 8 days: 15

In [44]:
# 9. Celcius to convert into fahrenheit:-

celcius = float(input("enter your tem:"))
fahre = (celcius*9/5) +32
print("Tempreture in fahrenheit:",fahre)

enter your tem: 37

Tempreture in fahrenheit: 98.6

In [ ]:
# Q5. calculate the salary:-


bs = int(input("enter your salary:"))
da = bs//100*10
hra = bs//100*20
ta = bs//100*5
ns = bs+da+hra+ta
print("Net Salary:",bs,"/nDA=",da)
print("HRA=",hra,"/nTA=",ta,"/nNet Salary=",ns)

In [ ]:
# 10.  fahrenheit  to convert into celcius:-

fahrenheit = float(input("enter your tem:"))
celcius = (fahrenheit-32)*5/9
print("Tempreture in celcius:",celcius)